{% extends "back_office/base.html.twig" %}
{% block title %}Liste des factures{% endblock %}
{% block body %}
    {% include "back_office/partials/_modal.html.twig" %}
    <section class="content mt-4">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex justify-content-between align-items-center">
                                <h3 class="card-title">Liste des factures</h3>
                                <a href="{{ path('admin_customer_manage') }}" class="btn btn-primary">
                                    <span class="fa fa-plus"></span>
                                    Ajouter
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="invoices">Chargement...</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
    <script>
        $(function() {
            btnDelete(".delete", "#modal-default", '#invoices')
            $('#invoices').initDataTables({{ datatable_settings(invoices) }});
        });
    </script>
    <script src="{{ asset('assets/back_office/main/js/main.js') }}"></script>
{% endblock %}